<section id="about" class="about">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>About</h2>
                    <p>Why Choose Gway</p>
                </div>

                <div class="row content" data-aos="fade-up">
                    <div class="col-lg-7">
                        <ul>

                            <li><i class="ri-check-double-line"></i>GwayERP objective is to create a suite with your business requirements to track and manage the core business processes such as Accounting, Sales, Purchase, CRM, Inventory etc. </li>
                            <li><i class="ri-check-double-line"></i>With GwayERP you can expect a completely reliable and robust business with accuracy to the informations shared within.</li>
                            <li><i class="ri-check-double-line"></i>GwayERP is intended to provide a reliable communication with the backend and to be notified in prior stage to make further actions and excel the business growth through automating the back oce functions like inventory control, accounting which would be an added advantage in cost cutting.</li>
                            <li><i class="ri-check-double-line"></i>Trust Our Product to excel your Business.</li>
                        </ul>
                    </div>
                    <div class="col-lg-5 pt-4 pt-lg-0">
                        
<%= image_tag(image_path('Why-Choose-GWay.png')) %>


                    </div>
                </div>

                <div class="row whyimg" data-aos="fade-up">
                    <div class="col-md-4">
                   
<%= image_tag(image_path('user-friendly.png')) %>


                        <h3>User friendly</h3>
                        <p>Our application is easy to access and retrieve the data’s with more pictorial representations & reports.</p>
                    </div>
                    <div class="col-md-4">
                   <%= image_tag(image_path('support.png')) %>


                        <h3>Support</h3>
                        <p>We offer 24/7 support to rectify the issues you faced for a healthy business outcomes without any interruptions.</p>
                    </div>
                    <div class="col-md-4">
                     <%= image_tag(image_path('Cost-Control.png')) %>

                        <h3>Cost Control</h3>
                        <p>To excel in market along with quality cost optimization is preferred. We balance the product with the cost which
is more effective to sustain.</p>
                    </div>
                </div>
                <div class="row  whyimg" data-aos="fade-up">
                    <div class="col-md-4">
                  
<%= image_tag(image_path('dashboard.png')) %>

                        <h3>Powerful Dashboard</h3>
                        <p>Our customized dashboard illustrates the vital information which user prefers to showcase the customers.
</p>
                    </div>
                    <div class="col-md-4">
                   
<%= image_tag(image_path('unique.png')) %>



                        <h3>Unique Feature</h3>
                        <p>Detailed analysis of the requirement and make a dedicated application for the user to access with ease.</p>
                    </div>
                    <div class="col-md-4">
                    <%= image_tag(image_path('notification.png')) %>
                
                        <h3>Smart Notification</h3>
                        <p>We offer an alert management system in Payments, Stocks areas to avoid the last minute rush as we value the customer needs.</p>
                    </div>
                </div>
                
            </div>
        </section