<section id="customers" class="customers">
            <div class="container-fluid">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Customers</h2>
                    <p>HAPPY TOGETHER</p>
                </div>

                <div class="col-md-12 content cushpy" data-aos="fade-up">


                    <div class="owl-carousel customers-carousel" data-aos="fade-up">

                        <div class="cs-item text-center">
                            <div class="icon-box">
                                <div class="icon">

                                    <%= image_tag(image_path('Agro-Pulses.jpg')) %>   

                                    </div>
                                <h4 class="title">Agro Pulses</h4>
                            </div>
                            

                        </div>
                        <div class="cs-item text-center">
                            <div class="icon-box">
                                <div class="icon">

                                    <%= image_tag(image_path('Automobile-Dealers.jpg')) %>

                                   </div>
                                <h4 class="title">Automobile Dealers</h4>
                            </div>
                            

                        </div>
                        <div class="cs-item text-center">
                            <div class="icon-box">
                                <div class="icon">

                                 <%= image_tag(image_path('Coal_Coke.jpg')) %>       

                                </div>
                                <h4 class="title"> Coal & Coke</h4>
                            </div>
                            

                        </div>
                        <div class="cs-item text-center">
                            <div class="icon-box">
                                <div class="icon">

                                    <%= image_tag(image_path('Constructions.jpg')) %>

                                   </div>
                            <h4 class="title">Constructions</h4>
                            </div>

                        </div>
                        <div class="cs-item text-center">
                            <div class="icon-box">
                                <div class="icon">

                                    <%= image_tag(image_path('Distributors.jpg')) %>
                                    
                                </div>
                            <h4 class="title">Distributors</h4>
                            </div>

                        </div>
                        <div class="cs-item text-center">
                            <div class="icon-box">
                                <div class="icon">
                                    <%= image_tag(image_path('Food-Industry.jpg')) %>
                                </div>
                            <h4 class="title">Food Industry</h4>
                            </div>

                        </div>
                        <div class="cs-item text-center">
                            <div class="icon-box">
                                <div class="icon">
                                    <%= image_tag(image_path('Logistics.jpg')) %>

                                    </div>
                            <h4 class="title">Logistics</h4>
                            </div>

                        </div>
                        <div class="cs-item text-center">
                            <div class="icon-box">
                                <div class="icon">

                                    <%= image_tag(image_path('Manufacturers.jpg')) %>
                                   

                                </div>
                            <h4 class="title">Manufacturers</h4>
                            </div>

                        </div>
                        <div class="cs-item text-center">
                            <div class="icon-box">
                                <div class="icon">
                                    <%= image_tag(image_path('Pharmaceutical1.jpg')) %>

                                        </div>
                            

                            <h4 class="title">Pharmaceutical</h4>
                            </div>

                        </div>
                        <div class="cs-item text-center">
                            <div class="icon-box">
                                <div class="icon">
                                    <%= image_tag(image_path('Retail.jpg')) %>

                                    
                                </div>
                            <h4 class="title">Retail</h4>
                            </div>

                        </div>
                        <div class="cs-item text-center">
                            <div class="icon-box">
                                <div class="icon">

                                    <%= image_tag(image_path('TAX-Consultant_Auditors.jpg')) %>

                                    </div>
                            <h4 class="title">TAX Consultant & Auditors</h4>
                            </div>

                        </div>
                        <div class="cs-item text-center">
                            <div class="icon-box">
                                <div class="icon">

                                    <%= image_tag(image_path('Textile-Industry.jpg')) %></div>
                            

                            <h4 class="title">Textile Industry</h4>
                            </div>

                        </div>

                    </div>




                </div>

            </div>
        </section>
