<section id="services" class="services">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Products</h2>
                    <p>Gway ERP Modules</p>
                </div>

                <div class="row">
                    <div class="col-md-3 text-center">
                        <a href="inventory-management.html" data-aos="zoom-in-left">
                            <div class="icon-box">
                                <div class="icon">
                                    <%= image_tag(image_path('Inventory.png')) %>


                                   </div>
                            </div>
                            <h4 class="title"> Inventory   Management </h4>
                    </div>
                    <div class="col-md-3   text-center">
                        <a href="sales-and-marketing.html" data-aos="zoom-in-left" data-aos-delay="100">
                            <div class="icon-box">
                                <div class="icon">

                                    <%= image_tag(image_path('Sales_Marketing.png')) %>
                                    

                                </div>
                            </div>
                            <h4 class="title"> Sales &   Marketing </h4>
                        </a>
                    </div>

                    <div class="col-md-3   text-center">
                        <a href="purchase.html" data-aos="zoom-in-left" data-aos-delay="200">
                            <div class="icon-box">
                                <div class="icon">

                                    <%= image_tag(image_path('purchase.png')) %>
                                    


                                </div>
                            </div>
                            <h4 class="title"> Purchase </h4>
                        </a>
                    </div>
                    <div class="col-md-3  text-center">
                        <a href="finanace-and-accounting.html" data-aos="zoom-in-left" data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon">

                                       <%= image_tag(image_path('Accounts_Finance.png')) %> 

                                    </div>
                            </div>
                            <h4 class="title"> Finance &   Accounting </h4>
                        </a>
                    </div>

                    <div class="col-md-3  text-center" data-aos="zoom-in-left" data-aos-delay="400">
                        <a href="hr-payroll.html">
                            <div class="icon-box">
                                <div class="icon">

<%= image_tag(image_path('HR-Payroll.png')) %>
                                   </div>
                            </div>
                            <h4 class="title"> HR-Payroll </h4>
                        </a>
                    </div>
                    <div class="col-md-3   text-center" data-aos="zoom-in-left" data-aos-delay="500">
                        <a href="scm.html">
                            <div class="icon-box">
                                <div class="icon">
<%= image_tag(image_path('SCM.png')) %>

                                    </div>
                            </div>
                            <h4 class="title"> SCM </h4>
                        </a>
                    </div>
                    <div class="col-md-3   text-center" data-aos="zoom-in-left" data-aos-delay="500">
                        <a href="crm.html">
                            <div class="icon-box">
                                <div class="icon">
<%= image_tag(image_path('crm.png')) %>
</div>
                            </div>
                            <h4 class="title"> CRM </h4>
                        </a>
                    </div>
                    <div class="col-md-3   text-center" data-aos="zoom-in-left" data-aos-delay="500">
                        <a href="business-intelligence.html">
                            <div class="icon-box">
                                <div class="icon">

    <%= image_tag(image_path('BI.png')) %>
</div>
                            </div>
                            <h4 class="title"> Business Intelligence </h4>
                        </a>
                    </div>
                </div>

            </div>
        </section>