<section id="hero" class="hero d-flex flex-column justify-content-end align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-md-12  mt-3 mt-lg-0 hero-lt">
                    <h2 class="animated fadeInDown">Gway ERP - <span> We produce what you think! <span></span></span> </h2>
                    <p class="animated fadeInUp">Gway ERP - To be known for customized application development
                        for the best business outcomes. </p>
                        <p class="animated fadeInUp">We work together with the clients
                        to achieve the standards with excellence.</p>
                        <p class="animated fadeInUp">
We deliver the product with improvised reports to benefit the
business with unique features.
                    </p>

                </div> 
            </div>
        </div>


        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </defs>

            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
            </g>
        </svg>

    </section>

    <main id="main" class="main">

        <%= render partial: 'partials/about' %>
        <%= render partial: 'partials/services' %>
        <%= render partial: 'partials/customers' %>
        <%= render partial: 'partials/support' %>
        
        <!-- <section id="demo" class="demo">
            <div class="container contact">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Demo</h2>
                    <p>REQUEST FOR DEMO</p>
                </div>

                <form class="email-form" data-aos="fade-up">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" />
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="name" class="form-control" name="cname" id="cname" placeholder="Your Company Name" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="mobile" class="form-control" id="mobile" placeholder="Your Mobile" />
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" />
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" name="address" rows="2" placeholder="Your Address"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="comments" rows="4" placeholder="Your Comments"></textarea>
                        <div class="mx-chr">(Max 2000 Characters)</div>
                    </div>

                    <div class="text-center">
                        <button type="submit">Send Request</button>
                    </div>
                </form>

            </div>
        </section> -->


        


        <%= render partial: 'partials/faq' %>
        <%= render partial: 'partials/contact' %>

    </main>